<div class="modal-header">
  <h3>Modal header</h3>
</div>
<div class="modal-body">
    <label>Nome: </label> {{personDetail.name}}<br />
    <label>Rua: </label> {{personDetail.street}} <br />
    <label>Numero: </label> {{personDetail.number}}<br />
    <label>Bairro: </label> {{personDetail.neighborhood}}<br />
    <label>Cidade: </label> {{personDetail.city}} <br />
    <label>Estado: </label> {{personDetail.state}} <br />
    <label>Celular: </label> {{personDetail.cellphone}} <br />
    <label>Telefone: </label> {{personDetail.phone}} <br />

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="close()">OK</button>
</div>